.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container header {
    width: 100%;
    display: grid;
    grid-template-columns: 3% 97%;
    justify-items: center;
}

.login-container img {
    max-width: 7rem;
    margin: 0.5rem;
    margin-right: 3%;
}

.login-content{
    box-shadow: 5px 5px 8px 2px #00000040;
    background-color: var(--dark-backgorund);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-content h2 {
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 3rem;
    color: var(--light-background);
    font-size: 1.5rem;
}

.login-content Button{
    margin-top: 1rem;
    width: 23rem;
    padding: 0.5rem;
}

.login-content a {
    text-decoration: none;
    color: var(--light-background);
    font-size: 1rem;
    margin-top: 6rem;
}
