.input-container input {
    border-radius: 0.3rem;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 1.3rem;
    padding: 0.2rem;
    font-size: 1.3rem;
}

.input-container label{
  color: var(--light-background);
  font-size: 1.3rem;
}

.input-container input:focus {
    outline: none;
  }

  .input-container input:disabled {
    color:var(--light-background);
  }

.input-container input:-webkit-autofill,
.input-container input:-webkit-autofill:hover, 
.input-container input:-webkit-autofill:focus, 
.input-container input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 30px var(--light-background) inset !important;
  -webkit-text-fill-color: var(--text) !important;
  caret-color: var(--text);
}