.button {
    background-color: #403F75;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 4rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: bold;

    transition: all 0.4s;
}

.button:hover {
    background: var(--border);
    filter: brightness(0.9);
}