.header-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.header-item{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 0.4rem;
    
    color: var(--light-background);
}

.header-item h1{
    color: var(--light-background);
    margin: 0;
}

.header-item:last-child{
    font-size: 1.2rem;
    padding-top: 2rem;
}

.header-item img{
    max-width: 7rem;
    margin-right: 0.8rem;
}