.details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container a {
  align-self: flex-start;
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 4rem;

  transition: all 0.2s;
}

.details-container a svg {
  margin-right: 0.6rem;
}

.details-container a:hover {
  color: var(--text);
  filter: brightness(0.8);
}

.details-container button {
  background: none;
  border: 1px solid var(--border);
  border-radius: 0.2rem;
  padding: 0.6rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;
}

.details-container button:hover {
  background: var(--dark-blue);
}

.details-container form {
  width: 520px;
  display: flex;
  flex-direction: column;
}

.double-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.details-container form select {
  background: none;
  border: 1px solid var(--border);
  border-radius: 0.2rem;
  margin: 0.4rem 0 1rem 0;
}

.details-container form select option {
  background: var(--background);
}

.details-container form textarea {
  background: none;
  border: none;
  border-bottom: 1px solid var(--border);
  margin: 0.4rem 0 1rem 0;
  padding: 0.2rem;
  resize: vertical;
  outline: none;
}

.details-container form textarea:disabled {
  filter: brightness(0.8);
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--text);
}