.product-card {
  width: 100%;
  background: var(--light-background);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.2rem;
  box-shadow:
    0 0.6px 1.1px rgba(0, 0, 0, 0.028),
    0 1.3px 2.7px rgba(0, 0, 0, 0.04),
    0 2.5px 5px rgba(0, 0, 0, 0.05),
    0 4.5px 8.9px rgba(0, 0, 0, 0.06),
    0 8.4px 16.7px rgba(0, 0, 0, 0.072),
    0 20px 40px rgba(0, 0, 0, 0.1)
  ;
}

.product-card img {
  height: 6rem;
  align-self: center;
  margin-bottom: 1rem;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 0;
}

.product-card span {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.product-actions {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.product-actions span {
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

.product-actions a {
  background: var(--text);
  border: 1px solid var(--text);
  color: var(dark-backgorund);
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  transition: all 0.2s;
  line-height: normal;
}

.product-actions a:hover {
  color: var(--dark-backgorund);
  filter: brightness(0.8);
}