*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

:root{ 
    --light-background:#FFFFFF;
    --background: #D6C0F1;
    --dark-backgorund: #4A4988;
    --text: black;/*#91C8DA;*/
    --border: #CAA2F2;
}

@media (max-wdith: 1080px) {
    html{
        font-size: 62.5%; /*10px*/
    }
}

@media (max-width: 720px){
    html{
        font-size: 56.5%; /*9px*/
    }
}

html {
    scroll-behavior: smooth;
}

body{
    background: var(--background)
}

/*altera caracteristicas do scrollbar*/
body::-webkit-scrollbar { 
    width: 5px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2)
}
body::-webkit-scrollbar-thumb {
    background-color: var(--border)
}

body, input, textarea, button {
    font: 500 1.6rem KoHo, sans-serif;
    color: var(--text);
}

button {
    cursor: pointer;
}