.logo img{
    width: 100px;
    height: 100px;
}

.home-container{
   margin-top: 100px;
   text-align: center;
}

.search span {
    color: var(--light-background);
    font-size: 1.3rem;
    margin: 1rem;
}

.load-more button {
    border: none;
    color: var(--dark-backgorund);
}