.ant-modal-body,
.ant-modal-close-x {
  color: var(--text);
  background-color: var(--background);
  border: 0;
}

.modal-container span {
  margin-bottom: 0;

  transition: all 0.2s;
}

.modal-container span:hover {
  filter: brightness(0.8);
}

.modal-content {
  margin-top: 1rem;
  padding: 1rem;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.product-info img {
  justify-self: center;
  width: 10rem;
}

.product-text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-text-info p {
  margin-bottom: 0;
  line-height: 1.4rem;
}

.product-text-info p:nth-child(3) {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.product-text-info button {
  padding: 0.5rem 3rem;
  margin-top: 0.5rem;
}


.product-text-info a {
  width: fit-content;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--light-background);
}

.product-text-info a:hover {
  color: var(--dark-backgorund);
  filter: brightness(0.8);
}

.product-description h2 {
  color: var(--text);
  font-size: 1.5rem;
}