.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container header {
    width: 100%;
    display: grid;
    grid-template-columns: 3% 97%;
    justify-items: center;
}

.register-container img {
    max-width: 7rem;
    margin: 0.5rem;
    margin-right: 3%;
}

.register-content h2 {
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 1rem;
    color: var(--light-background);
    font-size: 1.5rem;
}

.register-content a {
    text-decoration: none;
    color: var(--light-background);
    font-size: 1rem;
    margin-top: 2rem;
}

.register-content a:hover {
    color: var(--light-background);
}

.register-content Button{
    padding: 0.5rem 2rem;
}

.register-content{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 8px 2px #00000040;
    max-width: 35%;
    background-color: var(--dark-backgorund);
    padding: 1rem;
    border-radius: 0.8rem;
}