.cart-info{
}

.cart-itens {
}

.payment{   
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
    padding: 0.8rem;
    justify-content: center;
    border-radius: 0.8rem;
    margin: 0 1rem;
}

.payment span {
    line-height: 2.5rem;
    font-size: 1.4rem;
}